/*html{
	font-family: 'Shadows Into Light Two', cursive;
}

body {
	padding: 0;
	margin: 0;
}

header,h1,nav,main,article,aside,footer{
	padding:0;
	margin:0;
	border: 1px solid black;
}

header{
	display:flex;
	align-items: center;
}

h1{
	flex-basis: 45%;
	text-align: center;
}

nav{
	flex-basis: 55%;
}

#main-menu{
	list-style: none;
	display:flex;
	padding: 0;
	margin: 0 30px;
	justify-content: space-between;
}

#main-menu li{
	padding: 10px;
	margin: 0 10px;
}

main{
	display: flex;
}

article{
	flex-basis:75%;
}

aside{
	flex-basis:25%;
}

@media (max-width: 600px){
	main{
		flex-direction: column;
	}
	
	article{
		flex-basis: 100%;
		
	}
	
	aside{
		flex-basis: 100%;
	}
	
}

form{
	margin: 64px;
}*/

img{
	width: 170px;
	height: 220px;
}

 p {
	padding: 0 12px 0 12px;
}

main{
	display: flex;
	padding: 12px;
	margin: 100px 0px;
}

body{
	background: #FFFFFF;

}

footer{
	background: #292929;
	padding: 16px;	
	background-size: cover;
	justify-content: space-between;
	display: flex;
}
	footer p {
		color:#F2E5FA;
	}
	
#footer-redes {
	justify-content: flex-end;
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0 30px;
}

